body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-content {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /*max-width: 1000px;
*/}

.title {
    font-size: 40px;
    text-align: center;
    margin: 120px 0;
}

.details-container {
    max-width: none;
    display: flex;
    /*justify-content: space-between;*/
    width: 80%;
    margin: 20px 0;
    border:none;
    padding: 20px;
    border-radius: 8px;
    transform: translateX(10%);
}

.details-container > div {
    flex: 1;
    margin: 0 10px;
}

.details-container > div:first-child {
    text-align: left;
    margin: 20px;
}

.details-container > div:last-child {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}

.details-container > .organizer-info{
    max-width: 400px;
    /*max-height: 400px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    cursor: pointer;
}

.details-container > .organizer-info:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

.details-container > .organizer-info > .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    font-size: medium;
}
.details-container > .organizer-info > .organizer-photo {
    width: 50%;
    justify-content: center;
    border-radius: 8px;
    margin: auto;
}

.details-container > .organizer-info > .organizer-photo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    
    border-radius: 8px;
    transform: translateX(10%);
}

.introduction-container img {
    width: 100%;
    border-radius: 8px;
    margin-right: 20px;
}

.introduction-container p {
    width: 90%;
    font-size: 20px;
    flex: 1;
    text-align: left;
    transform: translateX(5%);
}

.reserve-container {
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    padding: 20px;
    
    border-radius: 8px;
    transform: translateX(10%);
}

.reserve-container > p {
    justify-content: center;
    display: flex;
    margin: 30px 0;
    font-size: 20px;
}

.reserve-container > .reserve-button{
    justify-content: center;
    font-size: 20px;
    max-width: 250px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px auto;
}
